html {
  font-family: var(--primaryType);
  color:var(--black);
  height:100%;
  font-size: 16px;
}
body{
  height:100%;
  line-height: 1.4;
  background: var(--background);
}
input {
  font-family: var(--primaryType);
}
